
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #DAE2CF url(images/background.jpg) repeat-x left top;
	font-family: 'Bree Serif', Georgia, serif;
	font-size: 10pt;
	color: #000000;
}

h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	/*text-transform: uppercase;*/
	font-family: 'Bree Serif', Georgia, serif;
	font-weight: normal;
	
	color: #000045;
}

h1 {
	font-size: 2em;
}

h2 {
	letter-spacing: 1px;
	font-size: 1.6em;
	text-transform: uppercase;
}

h3 {
	font-size: 1.6em;
	
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4C5C37;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
	font-size: 4em;
	font-weight: 400;
	color: #FFF;
}

#logo h1 span {
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFF;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1300px;
	height: 120px;
	margin: 0px auto;
	padding: 0px;
	background: #000000;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	line-height: 55px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bree Serif', Georgia, serif;
/*	font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 70px 50px 30px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 620px;
}

.post {
	margin-bottom: 15px;
}

.post-alt
{
}

.post .title {
	height: 38px;
	padding: 12px 0 0 0px;
	font-size: 28px;
}

.post .title a {
	border: none;
	color: #000000;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #000080;
}

.button
{
	padding: 10px 25px;
	background: #000033;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width:300px;
	margin: 0px;
	color: #000000;
}

#sidebar p
{
	color: #000000;
}


#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px solid #000000;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
	list-style: inside circle;
}

#sidebar li li a {
	color: #000000;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-bottom: 20px;
	font-size: 1.4em;
	color: #000000;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar *

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 150px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #000000;
	border-top: 1px solid #A59282;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#banner {
	width: 1000px;
	margin: 0px auto;
}

#banner img
{
	border-radius: 8px;
}