._eni{opacity:0}._enh{position:absolute;top:50%}
._4-od{display:inline-block;margin:0 auto;max-height:100%;max-width:100%;position:relative;vertical-align:middle}
._4-oa{border-radius:8px;display:block;height:46px;margin-top:-23px;opacity:.4;position:absolute;top:50%;transition:opacity .2s;width:27px;z-index:1}._4-oa:hover,._516a ._2bbb,._516b ._2bbc,._516a ._4-ob,._516b ._4-oc{opacity:1}._4-ob{background-image:url(/rsrc.php/v3/yv/r/bH6NDTMgszN.png);background-repeat:no-repeat;background-size:162px 418px;background-position:0 -162px;left:20px}._4-oc{background-image:url(/rsrc.php/v3/yv/r/bH6NDTMgszN.png);background-repeat:no-repeat;background-size:162px 418px;background-position:-30px -162px;right:20px}
._4-oh{display:inline-block;height:100%;vertical-align:middle}._4-of{background-color:#000;display:inline-block;position:relative;text-align:center;-webkit-user-select:none}._4-of._51jp{background:#000000 url(/rsrc.php/v3/y7/r/pgEFhPxsWZX.gif) no-repeat center center}._4-oi{border:rgba(255, 255, 255, .1) 1px solid;box-sizing:border-box;height:100%;left:0;pointer-events:none;position:absolute;top:0;width:100%}._4-og{height:100%}._4-of._50-l ._50-m{opacity:0}

#bootloader_oQrBi{height:42px;}.bootloader_oQrBi{display:block!important;}