._6ewl{border:0;color:#8d949e}._6ewm{position:relative}._6ewi{color:#606770;cursor:pointer;font-size:13px;text-align:center;width:14.28%}._6ewl ._6ewk{border-bottom:1px dashed #dadde1}._6ewj{color:#385898;font-weight:bold}._6gbr{border-bottom:2px solid #dadde1}._6gbp{background-color:#77a7ff;border-left:.5px solid white;border-right:.5px solid white;border-top-left-radius:4px;border-top-right-radius:4px;bottom:0;left:0;position:absolute;right:0;transition:height .5s linear}._6gbp:hover{background-color:#3578e5}._6gbq{height:100%;position:absolute;width:100%}._6gbr ._6gbo{height:91px;position:relative;width:6.25%}._6gbs{font-size:10px;text-align:center;width:12.5%}._6gbs:not(:first-child) ._6hdg{border-left:.5px solid #dadde1}._6gbs:not(:last-child) ._6hdg{border-right:.5px solid #dadde1}
.otherActive~._28r-{pointer-events:auto}

#bootloader_QRKGR{height:42px;}.bootloader_QRKGR{display:block!important;}