._bv9{background-image:url(/rsrc.php/v3/yL/r/ashjmFPhVEr.png);background-repeat:no-repeat;background-size:54px 382px;background-position:-38px -174px;float:left;height:5px;margin:4px 8px 4px 4px;width:9px}span._3xo9{display:block;margin:4px auto}._2cfp tr td:only-child,._2cfp tr td:not(:last-child){padding-right:6px}._2cfq{margin-bottom:6px;position:relative}tr:last-child ._2cfq{margin-bottom:0}._2cfp ._2cfq ._1m6e{margin-top:0;opacity:0}._2cfp ._2cfq:hover ._1m6e{background-image:url(/rsrc.php/v3/yL/r/ashjmFPhVEr.png);background-repeat:no-repeat;background-size:54px 382px;background-position:-42px -354px;opacity:1}._2cfp ._2cfq ._1m6e:hover{background-image:url(/rsrc.php/v3/yL/r/ashjmFPhVEr.png);background-repeat:no-repeat;background-size:54px 382px;background-position:0 -370px}

#bootloader_e4Wqo{height:42px;}.bootloader_e4Wqo{display:block!important;}