._6vhu{line-height:14px}
._3016{position:relative}._3016::after{content:'';display:block;left:50%;position:absolute}._ttp::after{background-image:url(/rsrc.php/v3/yy/r/lxSoM0jfHOz.png);background-repeat:no-repeat;background-size:42px 68px;background-position:0 -42px;bottom:-12px;height:24px;margin-left:-12px;width:24px}._ttr::after{background-image:url(/rsrc.php/v3/yy/r/lxSoM0jfHOz.png);background-repeat:no-repeat;background-size:42px 68px;background-position:0 0;bottom:-20px;height:40px;margin-left:-20px;width:40px}
.sp_LlEJ4j_1iiF_1_5x{background-image:url(/rsrc.php/v3/yy/r/lxSoM0jfHOz.png);background-size:42px 68px;background-repeat:no-repeat;display:inline-block;height:40px;width:40px}.sp_LlEJ4j_1iiF_1_5x.sx_dde8c6{width:24px;height:24px;background-position:0 -42px}.sp_LlEJ4j_1iiF_1_5x.sx_bd2ae3{background-position:0 0}

#bootloader_fegDG{height:42px;}.bootloader_fegDG{display:block!important;}